// hero section
.hero-section {
  width: 100%;
  height: 584;
  background-color: #ffe2e0;
  .container {
    width: 1128px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 160px;
    .hero-img {
      width: 642px;
      height: 535px;
    }
  }
}
// guarantee section
.guarantee-section {
  width: 100%;
  height: 144px;
  background: #f7f7f7;

  .container {
    width: 1128px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 0;
      gap: 47px;
      li {
        margin-top: 48px;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

.swiper {
  width: 100%;
  .container {
    width: 1128px;
    .featured-productions {
      width: 100%;
      height: 54px;
      display: flex;
      align-items: center;
      gap: 650px;
      margin-bottom: 32px;

      h1 {
        padding: 13px 0 14px 0;
      }
    }
  }
}

.swiper {
  width: 100%;
  .container {
    width: 1128px;
    .bestsellers {
      width: 100%;
      height: 54px;
      display: flex;
      align-items: center;
      gap: 650px;
      margin-bottom: 32px;

      h1 {
        padding: 13px 0 14px 0;
      }
    }
  }
}

.swiper {
  width: 100%;
  .container {
    width: 1128px;
    .discount-productions {
      width: 100%;
      height: 54px;
      display: flex;
      align-items: center;
      gap: 650px;
      margin-bottom: 32px;

      h1 {
        padding: 13px 0 14px 0;
      }
    }
  }
}

.services {
  width: 100%;
  background-color: #f7f7f9;
  padding-top: 30px;
  padding-bottom: 30px;
  .container {
    width: 1128px;
    .top-service {
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search {
        display: flex;
        align-items: center;
        input {
          width: 400px;
          height: 50px;
          padding-left: 10px;
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          border-left: 1px solid rgba(158, 158, 158, 0.35);
          border-top: 1px solid rgba(158, 158, 158, 0.35);
          border-bottom: 1px solid rgba(158, 158, 158, 0.35);
          border-right: none;
          background: #fff;
        }
        i {
          padding: 12px 12px 11px 12px;
          font-size: 25px;
          border-right: 1px solid rgba(158, 158, 158, 0.35);
          border-top: 1px solid rgba(158, 158, 158, 0.35);
          border-bottom: 1px solid rgba(158, 158, 158, 0.35);
          background-color: #fff;
        }
      }
    }

    .main-service {
      display: flex;
      .left-part {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .sendBtn {
          display: flex;

          border-radius: 8px;
          border: 1px solid #171717;
          opacity: 0.8;
          width: 179px;
          height: 48px;

          p {
            margin: 10px auto;
          }
        }
      }
      .right-part {
        padding-left: 140px;
        display: flex;
        gap: 70px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}

.copyrights {
  .container {
    padding: 15px 0;
    width: 1128px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    p {
      margin-top: 7px;
    }
  }
}
