// hero section
.hero-section {
  width: 100%;
  height: 584;
  background-color: #ffe2e0;
  .container {
    width: 1128px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 160px;
    .hero-img {
      width: 642px;
      height: 535px;
    }
  }
}
// guarantee section
.guarantee-section {
  width: 100%;
  height: 144px;
  background: #f7f7f7;

  .container {
    width: 1128px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 0;
      gap: 47px;
      li {
        margin-top: 48px;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

.swiper {
  width: 100%;
  .container {
    width: 1128px;
    .featured-productions {
      width: 100%;
      height: 54px;
      display: flex;
      align-items: center;
      gap: 650px;
      margin-bottom: 32px;

      h1 {
        padding: 13px 0 14px 0;
      }
    }
  }
}

.swiper {
  width: 100%;
  .container {
    width: 1128px;
    .bestsellers {
      width: 100%;
      height: 54px;
      display: flex;
      align-items: center;
      gap: 650px;
      margin-bottom: 32px;

      h1 {
        padding: 13px 0 14px 0;
      }
    }
  }
}

.swiper {
  width: 100%;
  .container {
    width: 1128px;
    .discount-productions {
      width: 100%;
      height: 54px;
      display: flex;
      align-items: center;
      gap: 650px;
      margin-bottom: 32px;

      h1 {
        padding: 13px 0 14px 0;
      }
    }
  }
}
