header {
  width: 100%;
  height: 206px;
  border: 2px solid lightgray;
  .upper-section {
    background-color: #007878;
    width: 100%;
    height: 48px;
    .containerr {
      width: 1128px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 400px;
      .phone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        margin-left: 0px;
        img {
          width: 24px;
          height: 24px;
        }
      }
      ul {
        margin-right: 218px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;
        margin-top: 10px;
        margin-right: 0px;
      }
    }
  }
  .snobella-section {
    .containerr {
      width: 1128px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
      .logo {
        width: 156px;
        height: 40px;
        margin-bottom: 20px;
        margin-left: 0px;
      }
      .input {
        width: 504px;
        height: 48px;

        border: none;
        position: relative;
        input {
          width: 100%;
          height: 100%;
          border: none;
          background: #f7f9fc;
          border-radius: 8px;
        }
        .fa-magnifying-glass {
          position: absolute;
          top: 12px;
          right: 12px;
          font-size: 24px;
          color: #273142bf;
        }
      }
      ul {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 26px;
      }
    }
  }

  nav {
    width: 100%;
    .containerr {
      width: 1128px;
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        margin-left: 0px;
        padding-left: 0px;
        // margin-bottom: 0;
        li {
          margin: 15px 45px 0px 0;
          padding: 6px 6px 6px 0px;
        }
      }
    }
  }
}

.services {
  width: 100%;
  background-color: #f7f7f9;
  padding-top: 30px;
  padding-bottom: 30px;
  .containerr {
    width: 1128px;
    .top-service {
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search {
        display: flex;
        align-items: center;
        input {
          width: 400px;
          height: 50px;
          padding-left: 10px;
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          border-left: 1px solid rgba(158, 158, 158, 0.35);
          border-top: 1px solid rgba(158, 158, 158, 0.35);
          border-bottom: 1px solid rgba(158, 158, 158, 0.35);
          border-right: none;
          background: #fff;
        }
        i {
          padding: 12px 12px 11px 12px;
          font-size: 25px;
          border-right: 1px solid rgba(158, 158, 158, 0.35);
          border-top: 1px solid rgba(158, 158, 158, 0.35);
          border-bottom: 1px solid rgba(158, 158, 158, 0.35);
          background-color: #fff;
        }
      }
    }

    .main-service {
      display: flex;
      .left-part {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .sendBtn {
          display: flex;

          border-radius: 8px;
          border: 1px solid #171717;
          opacity: 0.8;
          width: 179px;
          height: 48px;

          p {
            margin: 10px auto;
          }
        }
      }
      .right-part {
        padding-left: 140px;
        display: flex;
        gap: 70px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}

.copyrights {
  .containerr {
    padding: 15px 0;
    width: 1128px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    p {
      margin-top: 7px;
    }
  }
}
