* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: #000;
}

header .upper-section {
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}
header .snobella-section .container .logo {
  font-weight: 700;
  font-size: 40px;
  font-family: "Palanquin";
}
header .snobella-section .container input {
  color: gray;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
}
header .snobella-section .container ul a {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500px;
  color: black;
}
header .snobella-section .container ul i {
  width: 24px;
  height: 24px;
}
header nav ul li {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
}
header nav ul li a {
  color: #273142;
}

.hero-section h1 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}
.hero-section h2 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
}
.hero-section p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.hero-section button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
}

.swiper .container .featured-productions h1 {
  color: #000;
  font-family: "Poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 54.4px */
}
.swiper .container .featured-productions a {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
.swiper .container .bestsellers h1 {
  color: #000;
  font-family: "Poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 54.4px */
}
.swiper .container .bestsellers a {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
.swiper .container .discount-productions h1 {
  color: #000;
  font-family: "Poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 54.4px */
}
.swiper .container .discount-productions a {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
.swiper .container .featured-products .featured-card .card-body p {
  color: #000;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
.swiper .container .featured-products .featured-card .card-body .product-price .text1 {
  color: #f75145;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 34px */
}
.swiper .container .featured-products .featured-card .card-body .product-price .text2 {
  color: rgba(54, 54, 54, 0.75);
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}

.services .container .top-services h1 {
  color: #000;
  font-family: "Palanquin", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
}
.services .container .main-service .right-part li a {
  color: rgba(33, 33, 33, 0.75);
  font-family: "Poppins ,sans-herif";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.services .container .main-service .right-part li a b {
  color: #212121;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 30.6px */
}

.hero-section button {
  padding: 12px 56px 13px 57px;
  margin-top: 60px;
}

header {
  width: 100%;
  height: 206px;
}
header .upper-section {
  background-color: #007878;
  width: 100%;
  height: 48px;
}
header .upper-section .container {
  width: 1128px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 400px;
}
header .upper-section .container .phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-left: 0px;
}
header .upper-section .container .phone img {
  width: 24px;
  height: 24px;
}
header .upper-section .container ul {
  margin-right: 218px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  margin-top: 10px;
  margin-right: 0px;
}
header .snobella-section .container {
  width: 1128px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
header .snobella-section .container .logo {
  width: 156px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 7px;
}
header .snobella-section .container .input {
  width: 504px;
  height: 48px;
  border: none;
  position: relative;
}
header .snobella-section .container .input input {
  width: 100%;
  height: 100%;
  border: none;
  background: #f7f9fc;
  border-radius: 8px;
}
header .snobella-section .container .input .fa-magnifying-glass {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  color: rgba(39, 49, 66, 0.7490196078);
}
header .snobella-section .container ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}
header nav {
  width: 1128px;
}
header nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0;
}
header nav ul li {
  margin: 15px 45px 0px 0;
  padding: 6px;
}

.hero-section {
  width: 100%;
  height: 584;
  background-color: #ffe2e0;
}
.hero-section .container {
  width: 1128px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 160px;
}
.hero-section .container .hero-img {
  width: 642px;
  height: 535px;
}

.guarantee-section {
  width: 100%;
  height: 144px;
  background: #f7f7f7;
}
.guarantee-section .container {
  width: 1128px;
}
.guarantee-section .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  gap: 47px;
}
.guarantee-section .container ul li {
  margin-top: 48px;
}
.guarantee-section .container ul li img {
  width: 48px;
  height: 48px;
}

.swiper {
  width: 100%;
}
.swiper .container {
  width: 1128px;
}
.swiper .container .featured-productions {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  gap: 650px;
  margin-bottom: 32px;
}
.swiper .container .featured-productions h1 {
  padding: 13px 0 14px 0;
}

.swiper {
  width: 100%;
}
.swiper .container {
  width: 1128px;
}
.swiper .container .bestsellers {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  gap: 650px;
  margin-bottom: 32px;
}
.swiper .container .bestsellers h1 {
  padding: 13px 0 14px 0;
}

.swiper {
  width: 100%;
}
.swiper .container {
  width: 1128px;
}
.swiper .container .discount-productions {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  gap: 650px;
  margin-bottom: 32px;
}
.swiper .container .discount-productions h1 {
  padding: 13px 0 14px 0;
}

.services {
  width: 100%;
  background-color: #f7f7f9;
  padding-top: 30px;
  padding-bottom: 30px;
}
.services .container {
  width: 1128px;
}
.services .container .top-service {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services .container .top-service .search {
  display: flex;
  align-items: center;
}
.services .container .top-service .search input {
  width: 400px;
  height: 50px;
  padding-left: 10px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-left: 1px solid rgba(158, 158, 158, 0.35);
  border-top: 1px solid rgba(158, 158, 158, 0.35);
  border-bottom: 1px solid rgba(158, 158, 158, 0.35);
  border-right: none;
  background: #fff;
}
.services .container .top-service .search i {
  padding: 12px 12px 11px 12px;
  font-size: 25px;
  border-right: 1px solid rgba(158, 158, 158, 0.35);
  border-top: 1px solid rgba(158, 158, 158, 0.35);
  border-bottom: 1px solid rgba(158, 158, 158, 0.35);
  background-color: #fff;
}
.services .container .main-service {
  display: flex;
}
.services .container .main-service .left-part {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services .container .main-service .left-part .sendBtn {
  display: flex;
  border-radius: 8px;
  border: 1px solid #171717;
  opacity: 0.8;
  width: 179px;
  height: 48px;
}
.services .container .main-service .left-part .sendBtn p {
  margin: 10px auto;
}
.services .container .main-service .right-part {
  padding-left: 140px;
  display: flex;
  gap: 70px;
}
.services .container .main-service .right-part ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyrights .container {
  padding: 15px 0;
  width: 1128px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.copyrights .container p {
  margin-top: 7px;
}/*# sourceMappingURL=main.css.map */