* {
  box-sizing: border-box;
  margin: 0 auto;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}

header .upper-section {
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}
header .snobella-section .container .logo {
  font-weight: 700;
  font-size: 40px;
  font-family: "Palanquin";
}
header .snobella-section .container input {
  color: gray;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
}
header .snobella-section .container ul a {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500px;
  color: black;
}
header .snobella-section .container ul i {
  width: 24px;
  height: 24px;
}
header nav ul li {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
}
header nav ul li a {
  color: #273142;
}

.hero-section h1 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}
.hero-section h2 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
}
.hero-section p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.hero-section button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
}

.swiper .container .featured-productions h1 {
  color: #000;
  font-family: "Poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 54.4px */
}
.swiper .container .featured-productions a {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
.swiper .container .featured-products .featured-card .card-body p {
  color: #000;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
.swiper .container .featured-products .featured-card .card-body .product-price .text1 {
  color: #f75145;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 34px */
}
.swiper .container .featured-products .featured-card .card-body .product-price .text2 {
  color: rgba(54, 54, 54, 0.75);
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}

.hero-section button {
  padding: 12px 56px 13px 57px;
  margin-top: 60px;
}

header {
  width: 100%;
  height: 206px;
}
header .green-field {
  background-color: #007878;
}
header .green-field .upper-section {
  background-color: #007878;
  width: 100%;
  height: 48px;
}
header .green-field .upper-section .container {
  width: 1128px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 400px;
}
header .green-field .upper-section .container .phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-left: 0px;
}
header .green-field .upper-section .container .phone img {
  width: 24px;
  height: 24px;
}
header .green-field .upper-section .container ul {
  margin-right: 218px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  margin-top: 10px;
  margin-right: 0px;
}
header .snobella-section .container {
  width: 1128px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
header .snobella-section .container .logo {
  width: 156px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 7px;
}
header .snobella-section .container .input {
  width: 504px;
  height: 48px;
  border: none;
  position: relative;
}
header .snobella-section .container .input input {
  width: 100%;
  height: 100%;
  border: none;
  background: #f7f9fc;
  border-radius: 8px;
}
header .snobella-section .container .input .fa-magnifying-glass {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  color: rgba(39, 49, 66, 0.7490196078);
}
header .snobella-section .container ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}
header nav {
  width: 1128px;
}
header nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0;
}
header nav ul li {
  margin: 15px 45px 0px 0;
  padding: 6px;
}

.hero-section {
  width: 100%;
  height: 584;
  background-color: #ffe2e0;
}
.hero-section .container {
  border: 2px solid black;
  width: 1128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
}
.hero-section .container .hero-img {
  border: 1px solid black;
  width: 642px;
  height: 535px;
}

.guarantee-section {
  width: 100%;
  height: 144px;
  background: #f7f7f7;
}
.guarantee-section .container {
  width: 1128px;
}
.guarantee-section .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  gap: 47px;
}
.guarantee-section .container ul li {
  margin-top: 48px;
}
.guarantee-section .container ul li img {
  width: 48px;
  height: 48px;
}

.swiper {
  width: 100%;
}
.swiper .container {
  width: 1128px;
}
.swiper .container .featured-productions {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 80px 0 96px 202px;
  position: relative;
}
.swiper .container .featured-productions .box {
  width: 264px;
  height: 162px;
  border-radius: 8px;
  background: #f5f5f5;
  position: relative;
}
.swiper .container .featured-productions .box h1 {
  margin: 24px 0 0 24px;
}
.swiper .container .featured-productions .box img {
  width: 180px;
  height: 114px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.swiper .container .featured-productions .swipp-btn {
  background-color: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  position: absolute;
  top: 45%;
  right: -1%;
  gap: 673px;
  gap: 650px;
  margin-bottom: 32px;
}
.swiper .container .featured-productions .swipp-btn h1 {
  padding: 13px 0 14px 0;
}/*# sourceMappingURL=main.css.map */