// header
header {
  .upper-section {
    color: white;

    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
  }
  .snobella-section {
    .containerr {
      .logo {
        font-weight: 700;
        font-size: 40px;
        font-family: "Palanquin";
      }
      input {
        color: gray;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        padding: 15px;
      }
      ul {
        a {
          font-family: "Poppins";
          font-size: 14px;
          font-weight: 500px;
          color: black;
        }
        i {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  nav {
    ul {
      li {
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins";
        a {
          color: #273142;
        }
      }
    }
  }
}

// hero section
.hero-section {
  h1 {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  h2 {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
  }
  p {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
  }
  button {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
  }
}
//  bag card section
.bags {
  .box {
    h1 {
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 500;
    }
  }
}

//swiper section
.swiper {
  .containerr {
    .featured-productions {
      h1 {
        color: #000;
        font-family: "Poppins";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%; /* 54.4px */
      }

      a {
        color: #000;
        text-align: center;
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 27.2px */
      }
    }

    .bestsellers {
      h1 {
        color: #000;
        font-family: "Poppins";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%; /* 54.4px */
      }

      a {
        color: #000;
        text-align: center;
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 27.2px */
      }
    }

    .discount-productions {
      h1 {
        color: #000;
        font-family: "Poppins";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%; /* 54.4px */
      }

      a {
        color: #000;
        text-align: center;
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 27.2px */
      }
    }

    .featured-products {
      .featured-card {
        .card-body {
          p {
            color: #000;
            font-family: "Poppins";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 27.2px */
          }

          .product-price {
            .text1 {
              color: #f75145;
              font-family: "Poppins";
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 170%; /* 34px */
            }
            .text2 {
              color: rgba(54, 54, 54, 0.75);
              font-family: "Poppins";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 170%; /* 27.2px */
            }
          }
        }
      }
    }
  }
}
// product list page
.product-list-section {
  .containerr {
    h1 {
      font-family: "Poppins";
      font-size: 40px;
      font-weight: 500;
      margin-top: 6px;
      margin-bottom: 48px;
    }
  }
  .result-featured {
    .result-featured-box {
      .featured {
        span {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 400;
        }
        i {
          margin-top: 4px;
          font-size: 20px;
        }
      }
      .result {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        margin-top: 7px;
      }
    }
  }
}

.services {
  .containerr {
    .top-services {
      h1 {
        color: #000;
        font-family: "Palanquin";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 40px */
      }
    }
    .main-service {
      .left-part {
        a {
          color: rgba(33, 33, 33, 0.75);
          font-family: "Poppins";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 170%; /* 27.2px */
        }
      }
      .right-part {
        li {
          a {
            color: rgba(33, 33, 33, 0.75);
            font-family: "Poppins ,sans-herif";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 19.2px */

            b {
              color: #212121;
              font-family: "Poppins";
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 170%; /* 30.6px */
            }
          }
        }
      }
    }
  }
}

// shoppingcart sec
.shoppingSection {
  p {
    color: #1d1d1d;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
    span {
      color: rgba(29, 29, 29, 0.75);
      font-family: "Poppins";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%; /* 23.8px */
    }
  }
  h1 {
    color: #212121;
    font-family: "Poppins";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%; /* 68px */
  }

  .shoppingList {
    .shoppingItem {
      .info {
        h1 {
          color: #212121;
          font-family: "Poppins";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 170%; /* 27.2px */
        }
        p {
          color: rgba(33, 33, 33, 0.9);
          font-family: "Poppins";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 170%; /* 23.8px */
        }
        select {
          option {
            color: rgba(33, 33, 33, 0.75);
            font-family: "Poppins";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 23.8px */
          }
        }
      }
      .shoppingItem-right {
        .price {
          p {
            color: #212121;
            font-family: "Rubik";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 170%; /* 30.6px */
          }
        }
      }
    }
    .checkout-section {
      .info-section {
        .info {
          .subtotal,
          .shippingChanges {
            p {
              color: #212121;
              font-family: "Poppins";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 170%; /* 27.2px */
            }
          }
          .totalprice {
            p {
              color: #212121;
              font-family: "Poppins";
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 170%; /* 30.6px */
            }
          }
        }
        .promecode {
          button {
            color: #fff;
            font-family: "Poppins";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 27.2px; /* 170% */
            border-radius: 0px 8px 8px 0px;
            background: #ff695e;
          }
        }
      }
      .buttons {
        .confirmBtn {
          color: #fff;
          font-family: "Montserrat";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 170%; /* 27.2px */
          border-radius: 8px;
          background: #df4244;
        }
        .cashPaymentBtn {
          color: #212121;
          background-color: white;
          font-family: "Montserrat";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 170%; /* 27.2px */
          border-radius: 8px;
          border: 1px solid #212121;
        }
      }
    }
  }
}

// product page
.product-page {
  .product-info {
    .containerr {
      .row {
        .left {
          .product {
            .discount-box {
              color: #fff;
              font-family: "Poppins";
              font-size: 16px;
              font-weight: 500;
            }
            .heart-btn {
              i {
                color: #df4244;
                font-size: 28px;
              }
            }
          }
        }
        .right {
          h2 {
            width: 512px;
            color: #212121;
            font-family: "Rubik";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            margin: 0px;
            margin-left: 32px;
            margin-bottom: 8px;
          }
          .rate-reviews {
            .rate {
              i {
                color: #ffdd45;
                font-size: 14px;
              }
              .review {
                font-family: "Poppins";
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
          .piece-price {
            .box {
              .price-box {
                color: rgba(33, 33, 33, 0.9);
                font-family: "Poppins";
                font-size: 18px;
                font-weight: 500;
              }
              .piece-box {
                color: rgba(33, 33, 33, 0.9);
                font-family: "Poppins";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                margin-top: 4px;
              }
            }
          }
          .size,
          .color {
            .categories-title {
              .category-name {
                h6 {
                  color: #212121;
                  font-family: "Rubik";
                  font-size: 16px;
                  font-weight: 500;
                }
              }
            }
          }
          a {
            color: #000;
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 400;
            text-decoration: underline;
            margin-left: 35px;
          }
        }
      }
    }
  }
  .description-review {
    .containerr {
      .descriptions,
      .reviews {
        color: #858585;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 500;
      }
    }
    .reviews-box {
      .review-containerr {
        .review {
          .name-rate {
            .name {
              font-family: "Rubik";
              font-size: 20px;
              font-weight: 500;
            }
            .rate {
              i {
                color: #ffdd45;
                font-size: 14px;
              }
            }
          }
          .review-time,
          .review-content {
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

// you may also like section
.you-may-also-like {
  .also-liked-products-heading {
    .containerr {
      margin-bottom: 32px;
      h1 {
        font-family: "Rubik";
        font-size: 32px;
        font-weight: 500;
      }
      .view-all-products {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
