// header
header {
  .upper-section {
    color: white;

    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
  }
  .snobella-section {
    .containerr {
      .logo {
        font-weight: 700;
        font-size: 40px;
        font-family: "Palanquin";
      }
      input {
        color: gray;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        padding: 15px;
      }
      ul {
        a {
          font-family: "Poppins";
          font-size: 14px;
          font-weight: 500px;
          color: black;
        }
        i {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  nav {
    ul {
      li {
        font-size: 16px;
        font-weight: 400;
        font-family: "Poppins";
        a {
          color: #273142;
        }
      }
    }
  }
}

// hero section
.hero-section {
  h1 {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  h2 {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
  }
  p {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
  }
  button {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
  }
}
//  bag card section
.bags {
  .box {
    h1 {
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 500;
    }
  }
}

//swiper section
.swiper {
  .containerr {
    .featured-productions {
      h1 {
        color: #000;
        font-family: "Poppins";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%; /* 54.4px */
      }

      a {
        color: #000;
        text-align: center;
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 27.2px */
      }
    }

    .bestsellers {
      h1 {
        color: #000;
        font-family: "Poppins";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%; /* 54.4px */
      }

      a {
        color: #000;
        text-align: center;
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 27.2px */
      }
    }

    .discount-productions {
      h1 {
        color: #000;
        font-family: "Poppins";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%; /* 54.4px */
      }

      a {
        color: #000;
        text-align: center;
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 27.2px */
      }
    }

    .featured-products {
      .featured-card {
        .card-body {
          p {
            color: #000;
            font-family: "Poppins";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 27.2px */
          }

          .product-price {
            .text1 {
              color: #f75145;
              font-family: "Poppins";
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 170%; /* 34px */
            }
            .text2 {
              color: rgba(54, 54, 54, 0.75);
              font-family: "Poppins";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 170%; /* 27.2px */
            }
          }
        }
      }
    }
  }
}
// product list page
.product-list-section {
  .containerr {
    h1 {
      font-family: "Poppins";
      font-size: 40px;
      font-weight: 500;
      margin-top: 6px;
      margin-bottom: 48px;
    }
  }
}
.services {
  .containerr {
    .top-services {
      h1 {
        color: #000;
        font-family: "Palanquin", sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 40px */
      }
    }
    .main-service {
      .right-part {
        li {
          a {
            color: rgba(33, 33, 33, 0.75);
            font-family: "Poppins ,sans-herif";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 19.2px */

            b {
              color: #212121;
              font-family: "Poppins";
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 170%; /* 30.6px */
            }
          }
        }
      }
    }
  }
}
